body {
    background: #e8e7de;
    font-family: 'Montserrat', sans-serif;
  }
  .chessboard {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 35%;
    height: 50%;
    grid-auto-rows: minmax(80px, auto);
    margin-left: 450px;
    border: 20px solid  black;
    
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color:  #e59110;
      font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}